rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to authenticated users
    match /todos/{document=**} {
      allow read, write: if request.auth != null;
    }
    
    match /userTokens/{document=**} {
      allow read, write: if request.auth != null;
    }
    
    // Allow the Cloud Function to read/write
    match /mail/{document=**} {
      allow read, write: if request.auth != null || request.auth == null;
    }
  }
}